.box-apresentation{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.box-apresentation > input {
    width: 100%;
    border: none;
    margin-top: 20px;
    background: none;
    border-bottom: 2px solid white;
    color: white;
}

.box-apresentation > input:focus{
    outline: none;
}
.box-apresentation h1{
    color: var(--text-color);
}