.box-ToDoList{
    width: 100%;
    background-color: rgb(32, 31, 32);
    padding: 10px 24px;
    border-radius: 7px;
    height: 400px;
}

#list{
    max-height: 360px;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 15px 0;
    height: 330px;
}

#list > section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid lightgray;
    background-color: transparent;
    padding: 10px;
    gap: 50px;
    height: min-content;
}

#list > section:hover{
    background-color: rgba(211, 211, 211, 0.027);
}

.itemNome{
  max-width: 100ch;
}

.deletar{
    font-weight: bolder;    
    min-width: 100px;
    height: 30px;
}


@media (min-width: 800px) {
  .box-ToDoList{
    max-width: 700px;
  }
}

@media (max-width: 700px){
  .deletar{
    min-width: 70px;
  }
  .itemNome{
  max-width: 20ch !important;
}
}